



<footer>

    <nav id="footer-nav" class="footer-nav">
        <a href="/" class="footer-menu-item active-btn">Projects</a>
        <a href="/daily-ui" class="footer-menu-item inactive-btn">Daily UI</a>
        <a href="/about-me" class="footer-menu-item inactive-btn">About Me</a>
        <a class="footer-menu-item inactive-btn">Cookies?</a>
    </nav>

    <div id="copyright" class="copyright">© ildiesign 2019</div>

    <div id="social-media-container" class="social-media-container">

        <a href="https://twitter.com/Ildiesign" id="twitter-btn" class="social-button" target="_blank"></a>
        <a href="https://www.behance.net/ildiesign" id="behance-social-btn" class="social-button" target="_blank"></a>
        <a href="https://www.linkedin.com/in/ildiko-ignacz/" id="linked-in-btn" class="social-button" target="_blank"></a>
        <a href="https://github.com/ildiko-ignacz" id="github-btn" class="social-button" target="_blank"></a>
        <a href="https://dribbble.com/ildiesign" id="dribbble-btn" class="social-button" target="_blank"></a>
        <a href="https://www.facebook.com/ildiesign/" id="facebook-btn" class="social-button" target="_blank"></a>
        <a href="https://www.instagram.com/ildiesign/" id="instagram-btn" class="social-button" target="_blank"></a>

    </div>

</footer>