


<nav id="main-nav">
    <a href="/">
        <img id="ildiesign-logo" class="ildiesign-nav-logo" src="../public/images/ildiesign-logo.svg" alt="ildiesign home">
    </a>

    <div class="menu-item-container">
        <a id="menu-item-projects" class="menu-item {{#if projects}} active-btn {{else}} inactive-btn {{/if}}" href="/">Projects</a>
        <a id="menu-item-daily-ui" class="menu-item {{#if dailyUI}} active-btn {{else}} inactive-btn {{/if}}" href="/daily-ui">Daily UI</a>
        <a id="menu-item-about-me" class="menu-item {{#if aboutMe}} active-btn {{else}} inactive-btn {{/if}}" href="/about-me">About Me</a>
    </div>


    <div id="contact-email-container">

        <div id="contact-email-btn">

            <div id="contact-email-address"></div>

            <button id="copy-email-btn">Copy</button>
        </div>

    </div>
</nav>