


<nav id="main-nav">
    <a href="/">
        <img id="ildiesign-logo" class="ildiesign-nav-logo" src="../public/images/ildiesign-logo.svg" alt="ildiesign home">
    </a>

    <div class="menu-item-container">
        <a id="menu-item-projects" class="menu-item active-btn" href="/">Projects</a>
        <a id="menu-item-daily-ui" class="menu-item inactive-btn" href="/daily-ui">Daily UI</a>
        <a id="menu-item-about-me" class="menu-item inactive-btn" href="/about-me">About Me</a>
    </div>

    <div id="email-btn-container" class="email-button"></div>

</nav>