<!doctype html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-46781112-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-46781112-2');
    </script>
    <!-- End Google Analytics -->
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Ildiko Ignacz's portfolio website showcasing latest UI/UX design projects">

    <title>{{ title }}</title>

    <link rel="stylesheet" href="../public/css/style-reset.css">
    <link rel="stylesheet" href="../public/css/ildiesign-stylesheet.css">

    {{#if isProject}}
        <link rel="stylesheet" href="../public/css/{{project}}-stylesheet.css">
    {{/if}}

    <link href="https://fonts.googleapis.com/css?family=Muli:400,700,900" rel="stylesheet">

    <script type="text/javascript" src="../public/js/navigation.js"></script>

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
                'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '2396538910631644');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=2396538910631644&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body>
    <script>
        fbq('track', 'ViewContent');
    </script>


    {{{ body }}}
</body>
</html>