


{{> navigation }}


<div id="about-me-container" class="about-me-container">

    <section id="ildiesign-intro" class="ildiesign-intro">

        <div id="profile-picture" class="profile-picture">
            <img class="ildiko-picture" alt="Ildiko Ignacz's profile picture" src="../public/images/profile-picture.png">
        </div>

        <summary id="intro-description" class="intro-description">
            <h1 id="intro-main-title" class="main-title">My name is Ildiko Ignacz</h1>
            <h2 id="intro-subtitle" class="subtitle">UX Designer and Chemist of Aesthetics</h2>
            <p id="intro-basic-subtitle" class="basic-description">
                I am a digital product designer and art director based in Bergen, Norway.

                I specialize in designing interfaces for tools and applications. When I embark on a new project, my main goal is to make the product easy to use, and improve its user experience through simplicity and clean design.

                <br>

                Over the last 5 years I’ve had the pleasure to collaborate with several companies and start-ups, whom I worked with on a wide range of projects. I have designed software products ranging from enterprise software (enterprise asset and resource management, maintenance and invoicing), SAAS (productivity tools and apps), and software for the entertainment industry.

                <br>

                In my spare time I like experimenting with different UI styles and UX patterns, improving my front end development skills, and riding my bike.
            </p>
        </summary>

    </section>

    <section id="skills-container" class="skills-container ildiesign-intro">

        <div id="top-skillset" class="top-skillset">

            <section id="competencies-list" class="competencies-list skills-left-wrapper">

                <h3 class="skills-title">Key Competencies</h3>

                <ul id="key-competencies" class="key-competencies">
                    <li class="competencies-item">Wireframing</li>
                    <li class="competencies-item">Prototyping</li>
                    <li class="competencies-item">User Experience Design</li>
                    <li class="competencies-item">User Interface Design</li>
                    <li class="competencies-item">Animation</li>
                    <li class="competencies-item">Front End Develpment</li>
                </ul>

            </section>

            <section id="softwares-list" class="softwares-list skills-right-wrapper">

                <h3 class="skills-title">Softwares I know</h3>

                <div class="softwares-list-container">

                    <!--<div class="sketch-tooltip-container">-->
                    <div id="sketch" class="soft-type"></div>
                    <!--<div id="sketch-tooltip" class="tooltip">All the rumors have finally died down and many skeptics have tightened their lips, the iPod does support video format now on its fifth generation.</div>-->
                    <!--</div>-->

                    <div id="invision" class="soft-type"></div>
                    <div id="principle" class="soft-type"></div>
                    <div id="photoshop" class="soft-type"></div>
                    <div id="realtimeboard" class="soft-type"></div>
                    <div id="illustrator" class="soft-type"></div>
                    <div id="figma" class="soft-type"></div>
                    <div id="xd" class="soft-type"></div>

                </div>

            </section>

            <section id="technologies-list" class="technologies-list">

                <h3 class="skills-title">Technologies I know</h3>

                <div id="technologies-list-container" class="technologies-list-container">

                    <div id="html" class="soft-type soft-type-large"></div>
                    <div id="css" class="soft-type soft-type-large"></div>
                    <div id="saas" class="soft-type soft-type-large"></div>
                    <div id="javascript" class="soft-type soft-type-large"></div>
                    <!--<div id="bootstrap" class="soft-type soft-type-large"></div>-->

                </div>

            </section>

        </div>

        <div id="bottom-skillset" class="bottom-skillset">

            <section id="work-experience" class="work-experience skills-left-wrapper">

                <h3 class="skills-title indent">Work Experiences</h3>

                <ul>

                    <li class="experience-item">
                        <h4 class="time-interval bold">2016 - Present </h4>
                        <p class="experience-description">Present – Art Director/UI Designer at ildiesign </p>
                    </li>

                    <li class="experience-item">
                        <h4 class="time-interval bold">2016 - 2017 </h4>
                        <p class="experience-description">UI/UX Designer at Vincit</p>
                    </li>

                    <li class="experience-item">
                        <h4 class="time-interval bold">2015 - 2016 </h4>
                        <p class="experience-description">Head Designer at Mintique</p>
                    </li>

                    <li class="experience-item">
                        <h4 class="time-interval bold">2009 - 2014</h4>
                        <p class="experience-description">Painter at Festart Studio</p>
                    </li>

                </ul>

            </section>

            <section id="education" class="work-experience skills-right-wrapper">

                <h3 class="skills-title indent">Education</h3>

                <ul>

                    <li class="experience-item">
                        <h4 class="time-interval bold">2012 - 2015 </h4>
                        <p class="experience-description">Graphic Design Master’s Degree, Western Art University | Timișoara, Romania</p>
                    </li>

                    <li class="experience-item">
                        <h4 class="time-interval bold">2009 - 2012 </h4>
                        <p class="experience-description">Graphic design College Degree, Western Art University | Timișoara, Romania</p>
                    </li>

                    <li class="experience-item">
                        <h4 class="time-interval bold">2005 - 2009 </h4>
                        <p class="experience-description">Art High School | Targu Mureș, Romania</p>
                    </li>

                    <li class="experience-item">
                        <h4 class="time-interval bold">2001 - 2005 </h4>
                        <p class="experience-description">Art School | Reghin, Romania</p>
                    </li>

                </ul>

            </section>

        </div>


        <section id="awards" >

            <h3  class="skills-title indent">Awards</h3>

            <ul>

                <li class="experience-item">
                    <h4 class="time-interval bold">2019</h4>
                    <p class="experience-description">Information Technologies Design Category Winner - A'Design Award</p>
                </li>

                <li class="experience-item">
                    <h4 class="time-interval bold">2017</h4>
                    <p class="experience-description">Best Design Award - HackTM</p>
                </li>

                <li class="experience-item">
                    <h4 class="time-interval bold">2016</h4>
                    <p class="experience-description">Runner Up - HackTM</p>
                </li>

            </ul>

        </section>



    </section>


    <section id="testimonials" class="ildiesign-intro">

        <h1 id="testimonials-title" class="main-title">What customers say about me</h1>

        <div class="testimonial-card">

            <div class="testimonial-content">
                <h1 class="main-title start-quote">“</h1>
                <p class="basic-description">Ildiko Is the most remarkable designer I have ever worked with, her ability to comprehend, translate and produce UI and UX designs from the simplest of concepts is unparalleled.</p>
                <h1 class="main-title end-quote">”</h1>
            </div>
            <p class="basic-description bold">Barry Griffin | CEO at Crank Media Intelligence</p>

        </div>

        <div class="testimonial-card">

            <div class="testimonial-content">
                <h1 class="main-title start-quote">“</h1>
                <p class="basic-description">Our team and I have been working with ildiesign and Ildiko Ignacz for quite some time now actually as part of our sales and development activities. ildiesign has been able to support our team's activities in multiple ways be it UI or other visual design, UI prototypes or software development. Ildiko has participated in agile development work as a scrum team member and at other times she has participated to project work on an assignment basis. Ildiko has been working in close co-operation with project members remotely and at times in person, we consider her to be part of the team. Ildiko regularly exceeds expectations. Tools, technologies and processes used by Ildiko and other people at ildiesign are modern, fit to purpose and widely used in the industry. Ildiko herself has impressive set of skills and dedication to UI design. She has an entrepreneurial spirit. I can warmly recommend ildiesign and Ildiko Ignacz if you are looking for talented UI designers or modern stack developers.</p>
                <h1 class="main-title end-quote">”</h1>
            </div>
            <p class="basic-description bold">Pekka Korpi-Tassi | Development Manager at Vincit</p>

        </div>

        <div class="testimonial-card">

            <div class="testimonial-content">
                <h1 class="main-title start-quote">“</h1>
                <p class="basic-description">Ildiko is a seriously awesome UI/UX designer! I had a project on for a large startup Bank called WB21 (Fintech). The project had a tight deadline which was impossible to make alone. I hired Ildiko to help make it happen. Having never worked together It turned out to be one of the best collaboration I had with a fellow UX designer. Her speed and perfection are mind blowing. I think out of the 60 + screens we designed together I maybe only asked for a single change. (I'm very picky!). If you're looking for a perfectionist that works lighting speed hire Ildiko!</p>
                <h1 class="main-title end-quote">”</h1>
            </div>
            <p class="basic-description bold"> Joel Dorne | CRO Designer at Objective Agency</p>

        </div>

    </section>



</div>


{{> footer }}
