


<nav>
    <a href="/">
        <img id="ildiesign-logo" class="ildiesign-nav-logo" src="../public/images/ildiesign-logo.svg" alt="ildiesign home">
    </a>

    <div class="menu-item-container">
        <a class="menu-item" href="/">Projects</a>
        <a class="menu-item" href="../daily-ui">Daily UI</a>
        <a class="menu-item" href="/">About Me</a>
    </div>

    <div id="email-btn-container" class="email-button"></div>

</nav>

<div id="main-container">

    <div id="controller-container">
        <a href="plant-care">
            <div id="right-controller" class="next controller"></div>
        </a>

        <a href="ahead">
            <div id="left-controller" class="previous controller"></div>
        </a>

    </div>
    <div class="ahead-presentation"></div>

</div>
