

{{> navigation }}


<div class="all-cookies-container">

    <div class="all-cookies-wrapper">

        <div class="cookies-header">
            <h1 class="main-title">Cookies used on this website</h1>
            <div id="disable-cookies" class="secondary-btn"> How to Disable Cookies</div>
        </div>

        <div class="cookies-card">
            <h3 class="skills-title">__utma Cookie</h3>
            <p class="basic-description">A persistent cookie - remains on a computer, unless it expires or the cookie cache is cleared. It tracks visitors. Metrics associated with the Google __utma cookie include: first visit (unique visit), last visit (returning visit). This also includes Days and Visits to purchase calculations which afford ecommerce websites with data intelligence around purchasing sales funnels.</p>
        </div>

        <div class="cookies-card">
            <h3 class="skills-title">__utmb Cookie & __utmc Cookie</h3>
            <p class="basic-description">These cookies work in tandem to calculate visit length. Google __utmb cookie demarks the exact arrival time, then Google __utmc registers the precise exit time of the user.
                Because __utmb counts entrance visits, it is a session cookie, and expires at the end of the session, e.g. when the user leaves the page. A timestamp of 30 minutes must pass before Google cookie __utmc expires. Given__utmc cannot tell if a browser or website session ends. Therefore, if no new page view is recorded in 30 minutes the cookie is expired.
                This is a standard 'grace period' in web analytics. Ominture and WebTrends among many others follow the same procedure.</p>
        </div>

        <div class="cookies-card">
            <h3 class="skills-title">__utmz Cookie</h3>
            <p class="basic-description">Cookie __utmz monitors the HTTP Referrer and notes where a visitor arrived from, with the referrer siloed into type (Search engine (organic or cpc), direct, social and unaccounted). From the HTTP Referrer the   __utmz Cookie also registers, what keyword generated the visit plus geolocation data.
                This cookie lasts six months. In tracking terms this Cookie is perhaps the most important as it will tell you about your traffic and help with conversion information such as what source / medium / keyword to attribute for a Goal Conversion.</p>
        </div>

        <div class="cookies-card">
            <h3 class="skills-title">__utmv Cookie</h3>
            <p class="basic-description">Google __utmv Cookie lasts "forever". It is a persistant cookie. It is used for segmentation, data experimentation and  the __utmv works hand in hand with the   __utmz cookie to improve cookie targeting capabilities.</p>
        </div>

    </div>

</div>


{{> footer }}