


{{> navigation }}


<section id="daily-ui-container">
    <div id="daily-ui" class="content-container">

        <div class="daily-ui-count">
            <div class="count-title">DAY</div>
            <div id="count-number" class="count-number">{{ day }}</div>
        </div>

        <header class="daily-ui-header">
            <h1 class="main-title daily-ui-title">Daily UI Challenge</h1>
            <p class="daily-description">I would invite you to take a look at daily UI posts — and if you feel taking up a challenge, try scrolling to the bottom of the page.</p>
            <a id="behance-btn" class="blue-button" href="https://www.behance.net/ildiesign" target="_blank">View on Behance</a>

        </header>

    </div>

    <div class="white-overlay"></div>

    <section id="daily-ui-gallery " class="content-container">

        <img class="daily-thumbnail scrumbs-thumb" src="../public/images/scrumbs-landing-page-ui-design.png">
        <img class="daily-thumbnail guide-thumb" src="../public/images/ui-style-guide-design.png">
        <img class="daily-thumbnail plantcare-thumb" src="../public/images/plantcare-app-cover-design.png">
        <img class="daily-thumbnail statistics-thumb" src="../public/images/statistics-ui-design.png">
        <img class="daily-thumbnail kit-thumb" src="../public/images/ui-kit-design.png">
        <img class="daily-thumbnail notifications-thumb" src="../public/images/notifications-ui-design.png">

    </section>


</section>


{{> footer }}

<script src="../public/js/increment.js"></script>