


{{> navigation }}


<section id="gallery-wrapper" class="gallery-wrapper">

    <h1 id="welcome-title" class="main-title">Welcome to my website! 👋</h1>
    <p id="welcome-description" class="basic-description">I would invite you to take a look at daily UI posts — and if you feel taking up a challenge, try scrolling to the bottom of the page.</p>

    <div id="ildiesign-gallery" class="gallery-container">

        <div class="full-thumbnail">
            <a href="projects/scrumbs-landing"><img id="scrumbs-landing" class="scale" src="../public/images/scrumbs-landing-page-cover.png"></a>
            <a href="projects/scrumbs-landing"><img id="scrumbs-landing-small" class="scale" src="../public/images/scrumbs-landing-page-cover-small.png"></a>
        </div>

        <div class="full-thumbnail">
            <a href="projects/ahead"><img id="ahead-cover" class="scale" src="../public/images/ahead-cover.png"></a>
            <a href="projects/borneo"><img id="borneo-cover" class="scale" src="../public/images/borneo-cover.png"></a>
        </div>

        <div class="full-thumbnail">
            <a href="projects/plant-care"><img id="plantcare-cover" class="scale" src="../public/images/plantcare-cover.png"></a>
            <a href="projects/ventana"><img id="ventana-cover" class="scale" src="../public/images/vebtana-cover.png"></a>
        </div>

        <div class="full-thumbnail">
            <a href="projects/scrumbs"><img id="scrumbs-app" class="scale" src="../public/images/scrumbs-app-cover.png"></a>
            <a href="projects/scrumbs"><img id="scrumbs-app-small" class="scale" src="../public/images/scrumbs-app-cover-small.png"></a>
        </div>

    </div>

</section>

<div class="cookie-banner">
    <!--<div class="cookie-banner-wrapper">-->
        <p class="cookie-message">This website uses cookies. <a id="learn-cookie-link" class="cookie-link" href="/cookies">Learn more</a></p>
        <div class="secondary-btn">Got it!</div>
    <!--</div>-->
</div>


{{> footer }}
