


{{> navigation }}


<section id="gallery-wrapper" class="gallery-wrapper">

    <h1 id="welcome-title" class="main-title">Welcome to my website! 👋</h1>
    <p id="welcome-description" class="basic-description">Below you can find some of the projects that I have been working on in the past few months. Feel free to check them out!</p>

    <div id="ildiesign-gallery" class="gallery-container">

        <div class="full-thumbnail">
            <a href="projects/scrumbs-landing"><img id="scrumbs-landing" class="scale" src="../public/images/scrumbs-landing-page-cover.png"></a>
            <a href="projects/scrumbs-landing"><img id="scrumbs-landing-small" class="scale" src="../public/images/scrumbs-landing-page-cover-small.png"></a>
        </div>

        <div class="full-thumbnail">
            <a href="projects/ahead"><img id="ahead-cover" class="scale" src="../public/images/ahead-cover.png"></a>
            <a href="projects/borneo"><img id="borneo-cover" class="scale" src="../public/images/borneo-cover.png"></a>
        </div>

        <div class="full-thumbnail">
            <a href="projects/plant-care"><img id="plantcare-cover" class="scale" src="../public/images/plantcare-cover.png"></a>
            <a href="projects/ventana"><img id="ventana-cover" class="scale" src="../public/images/vebtana-cover.png"></a>
        </div>

        <div class="full-thumbnail">
            <a href="projects/scrumbs"><img id="scrumbs-app" class="scale" src="../public/images/scrumbs-app-cover.png"></a>
            <a href="projects/scrumbs"><img id="scrumbs-app-small" class="scale" src="../public/images/scrumbs-app-cover-small.png"></a>
        </div>

    </div>

</section>


{{> footer }}
