
<nav>
    <a href="/">
        <img id="ildiesign-logo" class="ildiesign-nav-logo" src="../public/images/ildiesign-logo.svg" alt="ildiesign home">
    </a>

    <div class="menu-item-container">
        <a class="menu-item" href="/">Projects</a>
        <a class="menu-item" href="daily-ui">Daily UI</a>
        <a class="menu-item" href="/">About Me</a>
    </div>

    <div id="email-btn-container" class="email-button"></div>

</nav>

<section id="ildiesign-gallery">
    <a href="projects/ahead" style="text-align: center; display: block; padding-top: 10%;">Ahead</a>
</section>

<footer>links</footer>

