


{{> navigation }}


<section id="gallery-wrapper" class="gallery-wrapper">

    <h1 id="welcome-title" class="main-title">Welcome to my website! 👋</h1>
    <p id="welcome-description" class="basic-description">Below you can find some of the projects that I have been working on in the past few months. Feel free to check them out!</p>

    <div id="ildiesign-gallery" class="gallery-container">

        <div class="full-thumbnail">
            <a href="projects/scrumbs-landing"><img alt="Scrumbs Landing Page Cover Large Image" id="scrumbs-landing" class="scale" src="../public/images/scrumbs-landing-page-cover.png"></a>
            <a href="projects/scrumbs-landing"><img alt="Scrumbs Landing Page Cover Small Image" id="scrumbs-landing-small" class="scale" src="../public/images/scrumbs-landing-page-cover-small.png"></a>
        </div>

        <div class="full-thumbnail">
            <a href="projects/ahead"><img alt="Ahead's Project Cover Image" id="ahead-cover" class="scale" src="../public/images/ahead-cover.png"></a>
            <a href="projects/borneo"><img alt="Borneo's Project Cover Image" id="borneo-cover" class="scale" src="../public/images/borneo-cover.png"></a>
        </div>

        <div class="full-thumbnail">
            <a href="projects/plant-care"><img alt="PlantCare's Project Cover Image " id="plantcare-cover" class="scale" src="../public/images/plantcare-cover.png"></a>
            <a href="projects/ventana"><img alt="Ventana's Project Cover Image" id="ventana-cover" class="scale" src="../public/images/vebtana-cover.png"></a>
        </div>

        <div class="full-thumbnail">
            <a href="projects/scrumbs"><img alt="Scrumbs Application's Project Cover Large Image" id="scrumbs-app" class="scale" src="../public/images/scrumbs-app-cover.png"></a>
            <a href="projects/scrumbs"><img alt="Scrumbs Application's Project Cover Small Image" id="scrumbs-app-small" class="scale" src="../public/images/scrumbs-app-cover-small.png"></a>
        </div>

    </div>

</section>

<div class="cookie-banner">
    <!--<div class="cookie-banner-wrapper">-->
        <p class="cookie-message">This website uses cookies. <a id="learn-cookie-link" class="cookie-link" href="/cookies">Learn more</a></p>
        <div class="secondary-btn">Got it!</div>
    <!--</div>-->
</div>


{{> footer }}
