
<nav id="main-nav">
    <a href="/">
        <img id="ildiesign-logo" class="ildiesign-nav-logo" src="../public/images/ildiesign-logo.svg" alt="ildiesign home">
    </a>

    <div class="menu-item-container">
        <a class="menu-item active-btn" href="/">Projects</a>
        <a class="menu-item inactive-btn" href="/daily-ui">Daily UI</a>
        <a class="menu-item inactive-btn" href="/about-me">About Me</a>
    </div>

    <div id="email-btn-container" class="email-button"></div>

</nav>

<section id="ildiesign-gallery">
    <!--<a href="projects/ahead" style="text-align: center; display: block; padding-top: 10%;">Ahead</a>-->











    <div id="our-works-gallery" class="section-our-works-gallery gallery color-white align-center">

        <span id="gallery-invisibile-line"></span>

        <div class="project-grid" id="project-grid">
            <div id="project-full" class="project-full" style="background: url(&quot;https://www.planeeet.com/wp-content/uploads/2018/08/Ahead-Cover-x1.png&quot;) 50% 50% / cover; display: block; visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"></div>
            <div id="our-works-gallery-project" class="section-our-works-gallery-project project">
                <div class="pure-g">


                    <div class="pure-u-1 pure-u-md-1-3 out ready">

                        <a class="section-our-works-gallery-project-item project-item ease-in-out block" data-image="https://www.planeeet.com/wp-content/uploads/2018/08/Scrumbs-Cover-x1.png" href="https://www.scrumbs.app" style="height: 373.333px;">

                            <div class="block project-link">

                                <div class="project-item-image" style="background-image: -webkit-image-set(url(&quot;https://www.planeeet.com/wp-content/uploads/2018/08/Scrumbs-Cover-x1.png&quot;) 1x, url(&quot;https://www.planeeet.com/wp-content/uploads/2018/08/Scrumbs-Cover-x2.png&quot;) 2x, url(&quot;https://www.planeeet.com/wp-content/uploads/2018/08/Scrumbs-Cover-x3.png&quot;) 3x); background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; width: 100%; height: 373.333px;"></div>

                                <div class="project-item-content color-white align-center">

                                    <h3 class="section-our-works-gallery-project-item-content-title cabinbold project-item-content-title">


                                                    <span>
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 744.47 171.77">
                                                            <defs>
                                                                <style>.a{fill:#fff;}</style>
                                                            </defs>
                                                            <path class="a" d="M180.76,162.35l5.15-12.94a44.54,44.54,0,0,0,27.21,8.83c4.42,0,7.82-.74,10.23-2.21a6.89,6.89,0,0,0,3.6-6.18,6.48,6.48,0,0,0-2.5-5.37c-1.67-1.32-4.51-2.48-8.53-3.46l-12.36-2.79q-20.3-4.41-20.3-20.75a19.78,19.78,0,0,1,3.82-12,25.11,25.11,0,0,1,10.74-8.16,40.73,40.73,0,0,1,16-2.94,48.75,48.75,0,0,1,15.3,2.42,40.31,40.31,0,0,1,13,7l-5.45,12.51q-11.17-8.24-22.95-8.24-6.33,0-9.85,2.35a7.39,7.39,0,0,0-3.54,6.48,6.57,6.57,0,0,0,2.14,5.14q2.13,1.92,7.28,3.24l12.65,2.8q11,2.49,16.11,7.72t5.08,13.61a19.2,19.2,0,0,1-8.24,16.33q-8.25,6-22.51,6Q192.67,171.77,180.76,162.35Z"></path>
                                                            <path class="a" d="M269.71,167.06a31.93,31.93,0,0,1-13.09-13.31q-4.56-8.61-4.56-20.23a42.25,42.25,0,0,1,4.78-20.45,34.11,34.11,0,0,1,13.53-13.75,40.5,40.5,0,0,1,20.23-4.93A47.74,47.74,0,0,1,306,96.89a30,30,0,0,1,11.85,6.91l-5.15,13a35.67,35.67,0,0,0-10-5.81,29.46,29.46,0,0,0-10.44-2q-10,0-15.6,6.25t-5.59,18q0,11.76,5.52,17.94t15.67,6.18a28.52,28.52,0,0,0,10.44-2.06,37.19,37.19,0,0,0,10-5.88l5.15,12.94a32.63,32.63,0,0,1-12.21,6.92,49.65,49.65,0,0,1-15.74,2.5Q278.25,171.77,269.71,167.06Z"></path>
                                                            <path class="a" d="M375.89,95.71l-.15,16.77a25.69,25.69,0,0,0-9.71-1.91q-9.4,0-14.34,5.44t-4.93,14.42v40.16H328.52V117.34a167.38,167.38,0,0,0-1.18-21h17.21L346,109.39a22.07,22.07,0,0,1,8.82-11,25,25,0,0,1,13.68-3.83A20.77,20.77,0,0,1,375.89,95.71Z"></path>
                                                            <path class="a" d="M452.22,96.3v74.29h-18V159.12a24,24,0,0,1-9.41,9.41,27.61,27.61,0,0,1-13.54,3.24q-27.21,0-27.21-30.6V96.3h18.24v45q0,8.09,3.31,11.91c2.21,2.56,5.61,3.83,10.23,3.83q8.08,0,12.94-5.3t4.86-14.12V96.3Z"></path>
                                                            <path class="a" d="M575.88,102q6.18,7.59,6.18,23v45.6H563.67v-45q0-8.83-2.87-12.73t-9.49-3.9q-7.65,0-12,5.37T535,129.11v41.48H516.59v-45q0-8.68-3-12.66t-9.48-4q-7.65,0-12.07,5.37t-4.41,14.79v41.48H469.37V117.34a167.38,167.38,0,0,0-1.18-21H485.4l1.33,11.77a23.11,23.11,0,0,1,9.34-10.15,27.48,27.48,0,0,1,14.05-3.53q17.05,0,22.21,14.12a25.6,25.6,0,0,1,10.08-10.37,28.9,28.9,0,0,1,14.64-3.75Q569.7,94.39,575.88,102Z"></path>
                                                            <path class="a" d="M658.33,99.17a31.71,31.71,0,0,1,11.54,13.46A46.45,46.45,0,0,1,674,132.78a47.19,47.19,0,0,1-4.19,20.38,32.4,32.4,0,0,1-11.62,13.75,30.36,30.36,0,0,1-17,4.86,29.84,29.84,0,0,1-14.64-3.53,23.09,23.09,0,0,1-9.64-9.86v12.21H598.82V62.32h18.24v45.16a23.91,23.91,0,0,1,9.71-9.64,29.59,29.59,0,0,1,14.42-3.45A31,31,0,0,1,658.33,99.17Zm-7.88,51.71q5-6.48,5-18.1t-5-17.72q-5-6.25-14.26-6.25t-14.27,6.32q-5,6.33-5,18,0,11.78,5,18t14.41,6.25Q645.45,157.35,650.45,150.88Z"></path>
                                                            <path class="a" d="M681.65,162.35l5.15-12.94A44.57,44.57,0,0,0,714,158.24q6.62,0,10.22-2.21a6.9,6.9,0,0,0,3.61-6.18,6.5,6.5,0,0,0-2.5-5.37c-1.67-1.32-4.52-2.48-8.54-3.46l-12.36-2.79q-20.3-4.41-20.3-20.75a19.79,19.79,0,0,1,3.83-12,25.11,25.11,0,0,1,10.74-8.16,40.68,40.68,0,0,1,16-2.94,48.7,48.7,0,0,1,15.3,2.42,40.21,40.21,0,0,1,13,7l-5.44,12.51q-11.19-8.24-22.95-8.24-6.33,0-9.86,2.35a7.38,7.38,0,0,0-3.53,6.48,6.56,6.56,0,0,0,2.13,5.14q2.13,1.92,7.28,3.24l12.66,2.8q11,2.49,16.1,7.72t5.08,13.61a19.2,19.2,0,0,1-8.24,16.33q-8.24,6-22.51,6Q693.58,171.77,681.65,162.35Z"></path>
                                                            <polygon class="a" points="32.2 83.21 32.2 168.4 109.31 168.4 123.09 94.7 63.24 115.59 32.2 83.21"></polygon>
                                                            <polygon class="a" points="21.41 160.26 21.41 130.2 0 137.68 21.41 160.26"></polygon>
                                                            <polygon class="a" points="35.23 70.78 66.23 103.12 169.33 67.13 145.16 0 35.23 70.78"></polygon>
                                                        </svg>
                                                    </span>


                                    </h3>

                                    <div class="section-our-works-gallery-project-item-content-desc desc nunitoregular">
                                        <p>Scrumbs enables the scrum master to easily track the development process and highlight blockers</p>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>


                    <div class="pure-u-1 pure-u-md-1-3 out in-progress">

                        <a class="section-our-works-gallery-project-item project-item ease-in-out block" data-image="https://www.planeeet.com/wp-content/uploads/2018/08/Imago-BI-Cover-x1.png" style="height: 373.333px;">

                            <div class="block project-link">

                                <div class="project-item-image" style="background-image: -webkit-image-set(url(&quot;https://www.planeeet.com/wp-content/uploads/2018/08/Imago-BI-Cover-x1.png&quot;) 1x, url(&quot;https://www.planeeet.com/wp-content/uploads/2018/08/Imago-BI-Cover-x2.png&quot;) 2x, url(&quot;https://www.planeeet.com/wp-content/uploads/2018/08/Imago-BI-Cover-x3.png&quot;) 3x); background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; width: 100%; height: 373.333px;"></div>

                                <div class="project-item-content color-white align-center">

                                    <h3 class="section-our-works-gallery-project-item-content-title cabinbold project-item-content-title">


                                        <span>Imago BI</span>


                                    </h3>

                                    <div class="section-our-works-gallery-project-item-content-desc desc nunitoregular">
                                        <p>Imago is a business intelligence application that offers a comprehensive view of the company based on the available data</p>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>


                    <div class="pure-u-1 pure-u-md-1-3 out in-progress">

                        <a class="section-our-works-gallery-project-item project-item ease-in-out block" data-image="https://www.planeeet.com/wp-content/uploads/2018/08/Ahead-Cover-x1.png" style="height: 373.333px;">

                            <div class="block project-link">

                                <div class="project-item-image" style="background-image: -webkit-image-set(url(&quot;https://www.planeeet.com/wp-content/uploads/2018/08/Ahead-Cover-x1.png&quot;) 1x, url(&quot;https://www.planeeet.com/wp-content/uploads/2018/08/Ahead-Cover-x2.png&quot;) 2x, url(&quot;https://www.planeeet.com/wp-content/uploads/2018/08/Ahead-Cover-x3.png&quot;) 3x); background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; width: 100%; height: 373.333px;"></div>

                                <div class="project-item-content color-white align-center">

                                    <h3 class="section-our-works-gallery-project-item-content-title cabinbold project-item-content-title">


                                                        <span>
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1740.55 414.43">
                                                                <defs>
                                                                    <style>
                                                                        .home-ahead-text{fill:#ffffff;}
                                                                        .home-ahead-bg{fill:#ffffff;}
                                                                    </style>
                                                                </defs>
                                                                <g>
                                                                    <g>
                                                                        <path class="home-ahead-text" d="M861.36,151.3a15.56,15.56,0,0,0-11.47,4.84,15.94,15.94,0,0,0-4.57,11.54v5.66a78.39,78.39,0,0,0-19-15.22A85.36,85.36,0,0,0,738.84,160c-13.54,8.61-24.36,20.7-32.19,36S695,228.4,695,247.37s3.86,36.2,11.49,51.51,18.45,27.67,32,36.51a82.79,82.79,0,0,0,46.15,13.42,78,78,0,0,0,41.86-11.92,88.24,88.24,0,0,0,18.88-15.48v7.78a15.7,15.7,0,0,0,4.59,11.4,16.18,16.18,0,0,0,11.47,4.59h.07a16,16,0,0,0,11.34-4.57,15.4,15.4,0,0,0,4.65-11.42V167.68a16.15,16.15,0,0,0-4.5-11.45A15.65,15.65,0,0,0,861.36,151.3Zm-14.59,96.07c0,13.49-2.67,25.8-7.9,36.59a62.39,62.39,0,0,1-21.47,25.23,57.46,57.46,0,0,1-61.69,0A60.72,60.72,0,0,1,734.41,284c-5.14-10.79-7.75-23.11-7.75-36.64s2.66-25.74,7.9-36.26a61.2,61.2,0,0,1,21.49-24.67,55.39,55.39,0,0,1,30.67-8.83,54.72,54.72,0,0,1,30.66,9,62.5,62.5,0,0,1,21.49,25A80.77,80.77,0,0,1,846.77,247.37Z"></path>
                                                                        <path class="home-ahead-text" d="M1018.31,149.85c-12.86,0-25.58,3.55-37.77,10.56a84.6,84.6,0,0,0-19,14.66V85.14a15.67,15.67,0,0,0-4.63-11.43,16.13,16.13,0,0,0-11.42-4.63h0a16.08,16.08,0,0,0-11.4,4.58,15.55,15.55,0,0,0-4.64,11.48V329.19a15.75,15.75,0,0,0,4.6,11.42,16.34,16.34,0,0,0,11.49,4.57h.13a16,16,0,0,0,11.25-4.57,15.44,15.44,0,0,0,4.65-11.42V227.6a39.48,39.48,0,0,1,7.27-23,55.33,55.33,0,0,1,19.86-17.53,54.71,54.71,0,0,1,26.07-6.57c14.22,0,24.22,4.07,30.62,12.47,6.68,8.72,10.06,20.36,10.06,34.64V329.19a16,16,0,1,0,32.06,0V227.6c0-22.39-5.68-41-16.88-55.44C1059,157.35,1041.39,149.85,1018.31,149.85Z"></path>
                                                                        <path class="home-ahead-text" d="M1302.52,248.87a15,15,0,0,0,4.87-11.29c-.23-18.5-4.59-34.87-13-48.61a85.49,85.49,0,0,0-32.71-31.35A90.43,90.43,0,0,0,1218.85,147a84.56,84.56,0,0,0-44,12.4c-13.7,8.27-24.81,20.33-33,35.82s-12.28,33.6-12.28,54c0,19.47,4.22,36.94,12.53,51.9a89.2,89.2,0,0,0,35,35.23c14.77,8.3,32.07,12.52,51.42,12.52a84.58,84.58,0,0,0,39.19-9.58,94,94,0,0,0,30.21-23.9c3.39-3.41,5.13-7.2,5.13-11.25a14,14,0,0,0-4.4-10.17c-3.64-3.61-11.23-8.39-22,.93a58.73,58.73,0,0,1-20.13,16.78,60.34,60.34,0,0,1-28.37,6.55c-13.78,0-25.85-3.05-35.87-9.09a62.05,62.05,0,0,1-23.18-24.82,76.15,76.15,0,0,1-8-30.92h130.23A16,16,0,0,0,1302.52,248.87Zm-138.47-25.45c3.57-13.56,10.12-24.28,19.52-31.89,10.85-8.76,22.73-13.19,35.28-13.19a60.73,60.73,0,0,1,25.61,5.77,53.16,53.16,0,0,1,20.41,16.71,50.34,50.34,0,0,1,9.38,22.6Z"></path>
                                                                        <path class="home-ahead-text" d="M1500,151.3h0a15.47,15.47,0,0,0-11.4,4.84,15.94,15.94,0,0,0-4.57,11.54v5.64a78.28,78.28,0,0,0-19-15.2,85.34,85.34,0,0,0-87.5,1.88c-13.54,8.61-24.37,20.7-32.19,36s-11.7,32.44-11.7,51.41,3.86,36.2,11.48,51.51,18.46,27.67,32,36.51a82.78,82.78,0,0,0,46.14,13.42,77.94,77.94,0,0,0,41.86-11.92A87.14,87.14,0,0,0,1484,321.41v7.78a15.81,15.81,0,0,0,4.6,11.42,16.34,16.34,0,0,0,11.49,4.57h.14a15.89,15.89,0,0,0,11.24-4.57,15.44,15.44,0,0,0,4.65-11.42V167.68a16.2,16.2,0,0,0-4.51-11.47A15.73,15.73,0,0,0,1500,151.3Zm-14.58,96.07c0,13.47-2.64,25.78-7.88,36.59A62.34,62.34,0,0,1,1456,309.19a57.45,57.45,0,0,1-61.68,0,60.64,60.64,0,0,1-21.3-25.18c-5.14-10.79-7.75-23.11-7.75-36.64s2.66-25.74,7.89-36.26a61.35,61.35,0,0,1,21.49-24.67,55.4,55.4,0,0,1,30.68-8.83,54.67,54.67,0,0,1,30.65,9,62.45,62.45,0,0,1,21.51,25A80.72,80.72,0,0,1,1485.4,247.37Z"></path>
                                                                        <path class="home-ahead-text" d="M1735.93,73.71a16.5,16.5,0,0,0-22.87,0,15.68,15.68,0,0,0-4.61,11.48v88.77a82.43,82.43,0,0,0-19.31-15.61A81.26,81.26,0,0,0,1647.3,147a82.69,82.69,0,0,0-45.38,13.22,91.92,91.92,0,0,0-32.15,36.32c-7.78,15.26-11.71,32.48-11.71,51.2,0,19,3.93,36.32,11.71,51.58a92.36,92.36,0,0,0,32.15,36.35,83.49,83.49,0,0,0,45.77,13.17,76.56,76.56,0,0,0,42.2-12.33,89.76,89.76,0,0,0,18.56-15.79v8.5a15.78,15.78,0,0,0,4.59,11.42,16.34,16.34,0,0,0,11.49,4.57h.14a15.9,15.9,0,0,0,11.24-4.57,15.43,15.43,0,0,0,4.64-11.42v-244A15.58,15.58,0,0,0,1735.93,73.71Zm-26,174c0,13.47-2.64,25.8-7.88,36.64a60.6,60.6,0,0,1-21.49,25,55.38,55.38,0,0,1-30.67,8.82,54.7,54.7,0,0,1-30.66-9,62.33,62.33,0,0,1-21.51-25c-5.23-10.69-7.9-22.94-7.9-36.45a81.3,81.3,0,0,1,7.9-36.08,62.37,62.37,0,0,1,21.49-25,56.79,56.79,0,0,1,61.33,0,62.53,62.53,0,0,1,21.51,25A81.52,81.52,0,0,1,1709.88,247.71Z"></path>
                                                                        <path class="home-ahead-bg" d="M529.52,137.48,304,7a52.36,52.36,0,0,0-52.37,0L26.06,137.57A52.46,52.46,0,0,0,0,183L.23,307.25a52.47,52.47,0,0,0,26.05,45.29L120.5,407.2a52.55,52.55,0,0,0,49.63,1.58c1.22-.58,97-55.88,97-55.88a21.18,21.18,0,0,1,20.74-.34l94.87,54.74c17.88,9.86,35.26,9.23,52.95-.25,0,0,84.05-48.7,93.72-54.44,17.15-10.18,25.8-26.79,25.8-45.46V182.87C555.2,164.21,545.68,146.81,529.52,137.48ZM513.14,325.05l-94.26,54.53a20.86,20.86,0,0,1-20.5-.24l-93.67-54.15a55.75,55.75,0,0,0-27.09-7.34,52.36,52.36,0,0,0-26.25,7L157,379.52a21.44,21.44,0,0,1-20.82-.33L43.73,325.71a23.62,23.62,0,0,1-11.56-19.53l.07-100.24A9.37,9.37,0,0,1,44.84,197l75.93,43.89a52.54,52.54,0,0,0,52.45,0l94.63-54.69a20.62,20.62,0,0,1,2.31-1.14,21.81,21.81,0,0,1,15.86,0,22.74,22.74,0,0,1,2.27,1.12l94.63,54.69a52.51,52.51,0,0,0,52.46,0L511,197.21a8.24,8.24,0,0,1,8,.51c1.43.82,4.23,3.27,4.23,8.22V306.46C523.2,314.07,519.67,321.16,513.14,325.05Z"></path>
                                                                    </g>
                                                                </g>
                                                            </svg>
                                                        </span>


                                    </h3>

                                    <div class="section-our-works-gallery-project-item-content-desc desc nunitoregular">
                                        <p>Ahead is a visual project management tool, designed to combine efficiency with aesthetics</p>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>


                    <div class="pure-u-1 pure-u-md-1-3 out in-progress">

                        <a class="section-our-works-gallery-project-item project-item ease-in-out block" data-image="https://www.planeeet.com/wp-content/uploads/2018/08/Borneo-Cover-x1.png" style="height: 373.333px;">

                            <div class="block project-link">

                                <div class="project-item-image" style="background-image: -webkit-image-set(url(&quot;https://www.planeeet.com/wp-content/uploads/2018/08/Borneo-Cover-x1.png&quot;) 1x, url(&quot;https://www.planeeet.com/wp-content/uploads/2018/08/Borneo-Cover-x2.png&quot;) 2x, url(&quot;https://www.planeeet.com/wp-content/uploads/2018/08/Borneo-Cover-x3.png&quot;) 3x); background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; width: 100%; height: 373.333px;"></div>

                                <div class="project-item-content color-white align-center">

                                    <h3 class="section-our-works-gallery-project-item-content-title cabinbold project-item-content-title">


                                                        <span>
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 477.34 120.11">
                                                                <defs>
                                                                    <style>.home-borneo{fill:#ffffff;}</style>
                                                                </defs>
                                                                <g>
                                                                    <g>
                                                                        <path class="home-borneo" d="M339.79,41.2A15.11,15.11,0,0,0,329.33,45a16.72,16.72,0,0,0-5.21,10.34l30.67,0A14.24,14.24,0,0,0,350.52,45Q346.47,41.22,339.79,41.2Z"></path>
                                                                        <path class="home-borneo" d="M154.73,42.21a15.64,15.64,0,0,0-12,4.92q-4.6,4.92-4.61,12.81t4.59,12.81a15.7,15.7,0,0,0,12,4.94,15.46,15.46,0,0,0,11.83-4.92q4.61-4.93,4.61-12.81t-4.59-12.82A15.48,15.48,0,0,0,154.73,42.21Z"></path>
                                                                        <path class="home-borneo" d="M83,77.32a15.33,15.33,0,0,0,11.83-5,18.05,18.05,0,0,0,4.61-12.76q0-7.77-4.59-12.7A15.49,15.49,0,0,0,83,42,15.61,15.61,0,0,0,71,46.87q-4.59,4.93-4.6,12.7T71,72.39A15.56,15.56,0,0,0,83,77.32Z"></path>
                                                                        <path class="home-borneo" d="M417.28,0H66.45V40.08a21.25,21.25,0,0,1,8.16-7.5A24.9,24.9,0,0,1,86.16,30a27.6,27.6,0,0,1,14.5,3.78,25.43,25.43,0,0,1,9.74,10.58A34.07,34.07,0,0,1,113.85,60a33.82,33.82,0,0,1-3.4,15.44,25,25,0,0,1-9.65,10.39,27.7,27.7,0,0,1-14.46,3.72A25.09,25.09,0,0,1,74.74,87a21.9,21.9,0,0,1-8.32-7.5V89H52.18l0-89H0V120.11H417.28A60.06,60.06,0,1,0,417.28,0ZM181.6,75.4a26.78,26.78,0,0,1-10.85,10.51,33.46,33.46,0,0,1-16,3.71,34,34,0,0,1-16.2-3.72,26.62,26.62,0,0,1-10.89-10.53,30.73,30.73,0,0,1-3.88-15.66,30.33,30.33,0,0,1,3.89-15.49,26.78,26.78,0,0,1,10.9-10.45,34.07,34.07,0,0,1,16.21-3.72,33.49,33.49,0,0,1,16,3.73,27,27,0,0,1,10.83,10.47,30.44,30.44,0,0,1,3.89,15.5A31,31,0,0,1,181.6,75.4Zm50.55-31.62q-9.09-.56-14.51,4.21t-5.43,12.86V89.1H198l0-58.59h14.24V41.8a21.11,21.11,0,0,1,8.06-8.7A23.59,23.59,0,0,1,232.16,30Zm66.23,45.37H284V56.73q0-6.13-3.5-9.7T271,43.47q-7.12.11-11.23,4.81a17.66,17.66,0,0,0-4.11,12l0,28.81H241.44l0-58.58H255.7v11q6-11.28,21-11.48,10.06,0,15.87,6.08t5.8,16.48Zm69.33-24.28-43.26,0A16.34,16.34,0,0,0,341.2,78.22a22.36,22.36,0,0,0,8.6-1.7A21,21,0,0,0,357,71.65l7.66,8A29.62,29.62,0,0,1,354,87.09a35.94,35.94,0,0,1-14,2.62A32.47,32.47,0,0,1,324.17,86a25.89,25.89,0,0,1-10.56-10.46A31.43,31.43,0,0,1,309.89,60a31.48,31.48,0,0,1,3.78-15.54,26.76,26.76,0,0,1,10.58-10.57,31.3,31.3,0,0,1,15.44-3.77q14,0,21.07,8t7.06,22.45C367.82,62.5,367.78,63.92,367.71,64.87Zm67.81,10.65A26.84,26.84,0,0,1,424.67,86a33.5,33.5,0,0,1-16.05,3.72A34,34,0,0,1,392.42,86,26.79,26.79,0,0,1,381.53,75.5a31,31,0,0,1-3.88-15.67,30.46,30.46,0,0,1,3.89-15.49,26.93,26.93,0,0,1,10.91-10.45,34.14,34.14,0,0,1,16.2-3.71,33.39,33.39,0,0,1,16.05,3.73,26.93,26.93,0,0,1,10.83,10.46,30.47,30.47,0,0,1,3.88,15.5A30.93,30.93,0,0,1,435.52,75.52Z"></path>
                                                                        <path class="home-borneo" d="M408.65,42.33a15.73,15.73,0,0,0-12,4.92Q392,52.19,392,60.06t4.59,12.82a15.7,15.7,0,0,0,12,4.93,15.42,15.42,0,0,0,11.83-4.92c3.07-3.28,4.61-7.56,4.61-12.81s-1.53-9.53-4.6-12.81A15.42,15.42,0,0,0,408.65,42.33Z"></path>
                                                                    </g>
                                                                </g>
                                                            </svg>
                                                        </span>


                                    </h3>

                                    <div class="section-our-works-gallery-project-item-content-desc desc nunitoregular">
                                        <p>Borneo is a Gantt chart tool, which offers an easier approach to project management</p>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>


                    <div class="pure-u-1 pure-u-md-1-3 out in-progress">

                        <a class="section-our-works-gallery-project-item project-item ease-in-out block" data-image="https://www.planeeet.com/wp-content/uploads/2018/08/Plant-Care-Cover-x1.png" style="height: 373.333px;">

                            <div class="block project-link">

                                <div class="project-item-image" style="background-image: -webkit-image-set(url(&quot;https://www.planeeet.com/wp-content/uploads/2018/08/Plant-Care-Cover-x1.png&quot;) 1x, url(&quot;https://www.planeeet.com/wp-content/uploads/2018/08/Plant-Care-Cover-x2.png&quot;) 2x, url(&quot;https://www.planeeet.com/wp-content/uploads/2018/08/Plant-Care-Cover-x3.png&quot;) 3x); background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; width: 100%; height: 373.333px;"></div>

                                <div class="project-item-content color-white align-center">

                                    <h3 class="section-our-works-gallery-project-item-content-title cabinbold project-item-content-title">


                                                    <span>
                                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 94.4 20.3" style="enable-background:new 0 0 94.4 20.3;" xml:space="preserve">
                                                            <style type="text/css">
                                                                .st0{enable-background:new    ;}
                                                                .st1{fill:#FFFFFF;}
                                                            </style>
                                                            <g id="Page-1">
                                                                <g id="plant-care-logo" transform="translate(0.000000, -9.000000)">
                                                                    <g class="st0">
                                                                        <path class="st1" d="M23.7,24.4c0.1,0.2,0.2,0.4,0.2,0.7c0,0.6-0.1,1-0.4,1.3c-0.6,0.7-1.3,1.4-2,1.8C20.7,28.7,19.9,29,19,29
                                                                            c-1.2,0-2.1-0.6-2.7-1.7c-0.6-1.1-0.9-2.6-0.9-4.3c0-1.7,0.2-3.7,0.7-5.8c0.4-2.2,1.1-4.1,2-5.6c0.9-1.6,1.9-2.4,3.1-2.4
                                                                            c0.7,0,1.2,0.3,1.6,0.9c0.4,0.6,0.6,1.5,0.6,2.7c0,1.7-0.5,3.6-1.4,5.8c-0.9,2.2-2.2,4.4-3.8,6.5c0.1,0.6,0.3,1,0.5,1.2
                                                                            c0.2,0.2,0.5,0.4,0.9,0.4c0.6,0,1.1-0.2,1.5-0.5c0.4-0.3,1-0.9,1.7-1.7c0.2-0.2,0.4-0.3,0.6-0.3C23.4,24.2,23.6,24.3,23.7,24.4z
                                                                                M19.6,13c-0.4,1.2-0.8,2.6-1.1,4.3c-0.3,1.7-0.5,3.4-0.5,5c1-1.6,1.8-3.3,2.4-4.9c0.6-1.6,0.9-3.1,0.9-4.5
                                                                            c0-1.1-0.2-1.6-0.6-1.6C20.3,11.2,20,11.8,19.6,13z"></path>
                                                                        <path class="st1" d="M22.4,28c-0.5-0.6-0.8-1.5-0.8-2.5c0-1.1,0.3-2.2,0.8-3.2c0.5-1,1.2-1.8,2.1-2.4c0.9-0.6,1.8-0.9,2.7-0.9
                                                                            c0.3,0,0.5,0.1,0.6,0.2s0.2,0.3,0.3,0.6c0.3-0.1,0.6-0.1,0.9-0.1c0.7,0,1,0.2,1,0.7c0,0.3-0.1,1-0.3,2.1
                                                                            c-0.3,1.6-0.5,2.7-0.5,3.4c0,0.2,0.1,0.4,0.2,0.5s0.2,0.2,0.4,0.2c0.3,0,0.6-0.2,1-0.5c0.4-0.3,0.9-0.9,1.5-1.7
                                                                            c0.2-0.2,0.4-0.3,0.6-0.3c0.2,0,0.3,0.1,0.4,0.3s0.2,0.4,0.2,0.7c0,0.6-0.1,1-0.4,1.3c-0.6,0.7-1.2,1.3-1.8,1.8
                                                                            C30.6,28.7,30,29,29.4,29c-0.5,0-0.9-0.2-1.3-0.5c-0.4-0.3-0.7-0.7-0.9-1.3c-0.7,1.2-1.6,1.8-2.8,1.8C23.6,29,22.9,28.7,22.4,28z
                                                                                M26.1,26.3c0.3-0.4,0.5-0.8,0.6-1.4l0.8-3.9c-0.6,0-1.1,0.2-1.6,0.7c-0.5,0.4-0.9,1-1.2,1.7c-0.3,0.7-0.4,1.4-0.4,2.2
                                                                            c0,0.4,0.1,0.8,0.3,1c0.2,0.2,0.4,0.3,0.7,0.3C25.6,26.9,25.8,26.7,26.1,26.3z"></path>
                                                                        <path class="st1" d="M32.1,28.1c-0.2-0.6-0.3-1.5-0.3-2.7c0-1.8,0.3-3.5,0.8-5.2c0.1-0.4,0.3-0.7,0.6-0.9
                                                                            c0.3-0.2,0.7-0.3,1.2-0.3c0.3,0,0.5,0,0.6,0.1c0.1,0.1,0.2,0.2,0.2,0.4c0,0.2-0.1,0.7-0.3,1.5c-0.1,0.6-0.3,1-0.3,1.5
                                                                            s-0.2,0.9-0.2,1.6c0.5-1.2,1-2.2,1.6-2.9c0.6-0.8,1.1-1.3,1.7-1.6c0.6-0.3,1.1-0.5,1.5-0.5c0.9,0,1.4,0.5,1.4,1.4
                                                                            c0,0.5-0.2,1.5-0.5,3c-0.3,1.2-0.4,2-0.4,2.4c0,0.6,0.2,0.8,0.6,0.8c0.3,0,0.6-0.2,1-0.5c0.4-0.3,0.9-0.9,1.5-1.7
                                                                            c0.2-0.2,0.4-0.3,0.6-0.3c0.2,0,0.3,0.1,0.4,0.3s0.2,0.4,0.2,0.7c0,0.6-0.1,1-0.4,1.3c-0.6,0.7-1.2,1.4-1.9,1.8
                                                                            c-0.7,0.5-1.5,0.7-2.4,0.7c-0.7,0-1.3-0.2-1.6-0.6c-0.4-0.4-0.5-1-0.5-1.8c0-0.4,0.1-1.1,0.3-2.1c0.2-0.9,0.3-1.5,0.3-1.8
                                                                            c0-0.2-0.1-0.3-0.2-0.3c-0.2,0-0.4,0.2-0.8,0.7c-0.3,0.5-0.7,1.1-1,1.9c-0.3,0.8-0.6,1.6-0.8,2.4c-0.2,0.7-0.3,1.1-0.5,1.3
                                                                            c-0.2,0.2-0.5,0.3-1,0.3C32.7,29,32.4,28.7,32.1,28.1z"></path>
                                                                        <path class="st1" d="M52,24.4c0.1,0.2,0.2,0.4,0.2,0.7c0,0.6-0.1,1-0.4,1.3c-0.6,0.7-1.3,1.4-2,1.8c-0.7,0.5-1.5,0.7-2.5,0.7
                                                                            c-2.9,0-4.3-2-4.3-6c0-0.6,0-1.2,0.1-1.9h-0.8c-0.4,0-0.7-0.1-0.9-0.2c-0.1-0.2-0.2-0.4-0.2-0.7c0-0.8,0.3-1.2,0.9-1.2h1.2
                                                                            c0.2-1.5,0.6-2.9,1.1-4.2c0.5-1.3,1.1-2.3,1.8-3c0.7-0.8,1.4-1.1,2.2-1.1c0.6,0,1,0.3,1.4,0.8c0.3,0.5,0.5,1.2,0.5,2
                                                                            c0,2.2-0.9,4.1-2.7,5.7H50c0.2,0,0.4,0,0.5,0.1c0.1,0.1,0.1,0.3,0.1,0.5c0,1-0.8,1.4-2.4,1.4h-2.6c0,0.7,0,1.2,0,1.6
                                                                            c0,1.5,0.2,2.5,0.5,3.1s0.9,0.9,1.6,0.9c0.6,0,1.1-0.2,1.6-0.5s1-0.9,1.6-1.6c0.2-0.2,0.4-0.3,0.6-0.3
                                                                            C51.7,24.2,51.9,24.3,52,24.4z M47.2,13.3c-0.3,0.5-0.5,1.3-0.7,2.2c-0.2,0.9-0.4,2-0.6,3.1c0.8-0.7,1.4-1.5,1.9-2.4
                                                                            c0.4-0.9,0.6-1.7,0.6-2.4c0-0.8-0.2-1.2-0.5-1.2C47.7,12.6,47.4,12.8,47.2,13.3z"></path>
                                                                        <path class="st1" d="M54.6,28.1c-1.2-0.6-2.2-1.5-2.8-2.6c-0.7-1.1-1-2.4-1-3.9c0-2.1,0.4-3.9,1.2-5.5c0.8-1.6,1.8-2.8,3.2-3.7
                                                                            s2.8-1.3,4.4-1.3c1.5,0,2.7,0.4,3.4,1.2c0.8,0.8,1.2,1.8,1.2,3.1c0,0.9-0.2,1.5-0.5,2.1c-0.3,0.5-0.7,0.8-1.3,0.8
                                                                            c-0.4,0-0.7-0.1-0.9-0.3c-0.2-0.2-0.3-0.4-0.3-0.8c0-0.1,0-0.4,0.1-0.7c0.1-0.4,0.1-0.8,0.1-1c0-1.3-0.7-1.9-2-1.9
                                                                            c-0.9,0-1.8,0.3-2.6,0.9c-0.8,0.6-1.5,1.5-2,2.7c-0.5,1.2-0.8,2.6-0.8,4.2c0,1.7,0.5,3,1.4,3.9s2.3,1.4,4.2,1.4
                                                                            c0.9,0,1.8-0.1,2.8-0.3c0.9-0.2,2-0.6,3.1-1.1c0.2-0.1,0.4-0.1,0.5-0.1c0.2,0,0.4,0.1,0.5,0.3c0.1,0.2,0.2,0.4,0.2,0.7
                                                                            c0,0.9-0.5,1.5-1.4,1.9c-1,0.4-2,0.8-3.1,1c-1.1,0.2-2.1,0.3-3.1,0.3C57.3,29,55.8,28.7,54.6,28.1z"></path>
                                                                        <path class="st1" d="M65.4,28c-0.5-0.6-0.8-1.5-0.8-2.5c0-1.1,0.3-2.2,0.8-3.2s1.2-1.8,2.1-2.4c0.9-0.6,1.8-0.9,2.7-0.9
                                                                            c0.3,0,0.5,0.1,0.6,0.2s0.2,0.3,0.3,0.6c0.3-0.1,0.6-0.1,0.9-0.1c0.7,0,1,0.2,1,0.7c0,0.3-0.1,1-0.3,2.1
                                                                            c-0.3,1.6-0.5,2.7-0.5,3.4c0,0.2,0.1,0.4,0.2,0.5s0.2,0.2,0.4,0.2c0.3,0,0.6-0.2,1-0.5c0.4-0.3,0.9-0.9,1.5-1.7
                                                                            c0.2-0.2,0.4-0.3,0.6-0.3c0.2,0,0.3,0.1,0.4,0.3c0.1,0.2,0.2,0.4,0.2,0.7c0,0.6-0.1,1-0.4,1.3c-0.6,0.7-1.2,1.3-1.8,1.8
                                                                            c-0.6,0.5-1.3,0.7-1.9,0.7c-0.5,0-0.9-0.2-1.3-0.5c-0.4-0.3-0.7-0.7-0.9-1.3c-0.7,1.2-1.6,1.8-2.8,1.8C66.6,29,65.9,28.7,65.4,28
                                                                            z M69.1,26.3c0.3-0.4,0.5-0.8,0.6-1.4l0.8-3.9c-0.6,0-1.1,0.2-1.6,0.7c-0.5,0.4-0.9,1-1.2,1.7c-0.3,0.7-0.4,1.4-0.4,2.2
                                                                            c0,0.4,0.1,0.8,0.3,1c0.2,0.2,0.4,0.3,0.7,0.3C68.5,26.9,68.8,26.7,69.1,26.3z"></path>
                                                                        <path class="st1" d="M75.1,28.1c-0.2-0.6-0.3-1.5-0.3-2.7c0-1.8,0.3-3.5,0.8-5.2c0.1-0.4,0.3-0.7,0.6-0.9
                                                                            c0.3-0.2,0.7-0.3,1.2-0.3c0.3,0,0.5,0,0.6,0.1c0.1,0.1,0.2,0.2,0.2,0.4c0,0.2-0.1,0.7-0.3,1.5c-0.1,0.6-0.3,1-0.3,1.5
                                                                            s-0.2,0.9-0.2,1.6c0.5-1.2,1-2.2,1.6-2.9c0.6-0.8,1.1-1.3,1.7-1.6c0.6-0.3,1.1-0.5,1.5-0.5c0.9,0,1.4,0.5,1.4,1.4
                                                                            c0,0.2-0.1,0.6-0.2,1.3c-0.1,0.6-0.2,0.9-0.2,1c0,0.5,0.2,0.7,0.5,0.7c0.4,0,0.9-0.3,1.5-0.9c0.2-0.2,0.4-0.3,0.6-0.3
                                                                            c0.2,0,0.3,0.1,0.4,0.2c0.1,0.2,0.2,0.4,0.2,0.6c0,0.5-0.1,0.9-0.4,1.2c-0.4,0.4-0.9,0.8-1.4,1s-1.1,0.4-1.7,0.4
                                                                            c-0.7,0-1.3-0.2-1.7-0.6c-0.4-0.4-0.6-0.9-0.6-1.5c0-0.2,0-0.4,0.1-0.6c0-0.3,0-0.5,0-0.6c0-0.2-0.1-0.3-0.2-0.3
                                                                            c-0.2,0-0.5,0.2-0.8,0.7c-0.3,0.5-0.7,1.1-1,1.9c-0.3,0.8-0.6,1.6-0.8,2.4c-0.2,0.7-0.3,1.1-0.5,1.3c-0.2,0.2-0.5,0.3-1,0.3
                                                                            C75.7,29,75.3,28.7,75.1,28.1z"></path>
                                                                        <path class="st1" d="M94.1,24.4c0.1,0.2,0.2,0.4,0.2,0.7c0,0.6-0.1,1-0.4,1.3c-0.5,0.6-1.2,1.2-2.2,1.7c-0.9,0.5-2,0.8-3,0.8
                                                                            c-1.5,0-2.6-0.4-3.4-1.2C84.4,27,84,25.9,84,24.5c0-1,0.2-1.9,0.6-2.7s1-1.5,1.7-2c0.7-0.5,1.5-0.7,2.4-0.7c0.8,0,1.5,0.2,2,0.7
                                                                            s0.7,1.1,0.7,2c0,1-0.3,1.8-1,2.5s-1.9,1.2-3.5,1.6c0.3,0.6,1,1,2,1c0.6,0,1.3-0.2,2.2-0.7c0.8-0.4,1.5-1,2.1-1.7
                                                                            c0.2-0.2,0.4-0.3,0.6-0.3C93.8,24.2,94,24.3,94.1,24.4z M87,22c-0.4,0.6-0.5,1.3-0.5,2.2v0c0.8-0.2,1.5-0.5,2-0.9
                                                                            c0.5-0.4,0.7-0.8,0.7-1.4c0-0.3-0.1-0.5-0.2-0.6c-0.1-0.2-0.3-0.2-0.6-0.2C87.8,21.1,87.4,21.4,87,22z"></path>
                                                                    </g>
                                                                    <g class="st0">
                                                                        <path class="st1" d="M15.5,17.6c-0.6,1-1.5,1.8-2.7,2.4c-1.2,0.6-2.6,1-4.2,1.1l-0.9,5.1c-0.4,1.9-1.3,2.9-2.9,2.9
                                                                            c-0.9,0-1.6-0.3-2.4-0.8c-0.7-0.5-1.3-1.3-1.7-2.3c-0.4-1-0.7-2.3-0.7-3.8c0-2.8,0.5-5.3,1.4-7.2c0.9-2,2.1-3.5,3.7-4.5
                                                                            c1.5-1,3.3-1.5,5.1-1.5c1.3,0,2.4,0.2,3.3,0.7s1.6,1.1,2.1,1.9c0.5,0.8,0.7,1.7,0.7,2.7C16.4,15.5,16.1,16.6,15.5,17.6z
                                                                                M13.3,14.5c0-0.9-0.3-1.7-0.9-2.3c-0.6-0.6-1.6-0.9-2.8-0.9c-1.4,0-2.7,0.5-3.8,1.4S3.9,15,3.3,16.6S2.4,20,2.4,22.1
                                                                            c0,0.9,0.1,1.6,0.3,2.3c0.2,0.7,0.4,1.2,0.7,1.6s0.5,0.6,0.8,0.6c0.3,0,0.6-0.5,0.8-1.4l0.7-4C5.1,21,4.8,21,4.9,21
                                                                            c-0.4-0.1-0.7-0.2-0.8-0.4c-0.1-0.2-0.2-0.4-0.2-0.7c0-0.3,0.1-0.6,0.3-0.7c0.2-0.2,0.4-0.3,0.7-0.3c0.1,0,0.2,0,0.3,0
                                                                            C5.5,19,5.8,19,6,19c0.2-1.1,0.4-2.6,0.8-4.4c0.1-0.5,0.3-0.8,0.6-1c0.3-0.2,0.7-0.3,1.1-0.3c0.5,0,0.8,0.1,1,0.3
                                                                            c0.2,0.2,0.3,0.5,0.3,0.8c0,0.2,0,0.4,0,0.5L9,19C11.8,18.7,13.3,17.2,13.3,14.5z"></path>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </svg>

                                                    </span>


                                    </h3>

                                    <div class="section-our-works-gallery-project-item-content-desc desc nunitoregular">
                                        <p>Plant-care system designed to help mid-size greenhouse companies to manage their plants</p>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>


                    <div class="pure-u-1 pure-u-md-1-3 out in-progress">

                        <a class="section-our-works-gallery-project-item project-item ease-in-out block" data-image="https://www.planeeet.com/wp-content/uploads/2018/08/Umbra-Cover-x1.png" style="height: 373.333px;">

                            <div class="block project-link">

                                <div class="project-item-image" style="background-image: -webkit-image-set(url(&quot;https://www.planeeet.com/wp-content/uploads/2018/08/Umbra-Cover-x1.png&quot;) 1x, url(&quot;https://www.planeeet.com/wp-content/uploads/2018/08/Umbra-Cover-x2.png&quot;) 2x, url(&quot;https://www.planeeet.com/wp-content/uploads/2018/08/Umbra-Cover-x3.png&quot;) 3x); background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; width: 100%; height: 373.333px;"></div>

                                <div class="project-item-content color-white align-center">

                                    <h3 class="section-our-works-gallery-project-item-content-title cabinbold project-item-content-title">


                                        <span>Umbra</span>


                                    </h3>

                                    <div class="section-our-works-gallery-project-item-content-desc desc nunitoregular">
                                        <p>A CMMS tool that helps mid-to-large size factories manage the maintenance of their assets</p>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>


                    <div class="pure-u-1 pure-u-md-1-3 out in-progress">

                        <a class="section-our-works-gallery-project-item project-item ease-in-out block" data-image="https://www.planeeet.com/wp-content/uploads/2018/08/Ventana-Cover-x1.png" style="height: 373.333px;">

                            <div class="block project-link">

                                <div class="project-item-image" style="background-image: -webkit-image-set(url(&quot;https://www.planeeet.com/wp-content/uploads/2018/08/Ventana-Cover-x1.png&quot;) 1x, url(&quot;https://www.planeeet.com/wp-content/uploads/2018/08/Ventana-Cover-x2.png&quot;) 2x, url(&quot;https://www.planeeet.com/wp-content/uploads/2018/08/Ventana-Cover-x3.png&quot;) 3x); background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; width: 100%; height: 373.333px;"></div>

                                <div class="project-item-content color-white align-center">

                                    <h3 class="section-our-works-gallery-project-item-content-title cabinbold project-item-content-title">


                                                        <span>
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 704.52 201.61">
                                                                <defs>
                                                                    <style>.home-ventana{fill:#fff;}</style>
                                                                </defs>
                                                                <path class="home-ventana" d="M173.45,96.77h23.4l26.29,72.67,26.42-72.67H272l-38.26,96.34H211.3Z"></path>
                                                                <path class="home-ventana" d="M327.87,128.7q9.28,10.32,9.29,28.76c0,2.2-.05,3.9-.14,5.09H283.9A18.8,18.8,0,0,0,303,177.42a26,26,0,0,0,10-2,26.57,26.57,0,0,0,8.67-5.85l11.15,11.29a37.53,37.53,0,0,1-13.69,9.7,46.06,46.06,0,0,1-18,3.37,42.76,42.76,0,0,1-20.44-4.67A32.86,32.86,0,0,1,267.31,176a39.86,39.86,0,0,1-4.75-19.68,40.07,40.07,0,0,1,4.82-19.89,33.78,33.78,0,0,1,13.49-13.35,40.62,40.62,0,0,1,19.82-4.74Q318.57,118.38,327.87,128.7ZM317.2,150q-.27-7.29-4.68-11.7c-2.94-2.93-6.83-4.4-11.7-4.4a16.12,16.12,0,0,0-11.49,4.33A20.21,20.21,0,0,0,283.48,150Z"></path>
                                                                <path class="home-ventana" d="M410.7,125.94q7.37,7.73,7.37,20.65v46.52h-21.2V152.78q0-7-3.92-11.08t-10.67-4.06q-7.84.15-12.38,5.44t-4.54,13.56v36.47h-21.2V119.06h21.2V132q7.69-13.48,25.59-13.76Q403.34,118.24,410.7,125.94Z"></path>
                                                                <path class="home-ventana" d="M474.4,189a34.76,34.76,0,0,1-9.16,3.78,40.08,40.08,0,0,1-10.11,1.31q-10.32,0-16.79-5.92t-6.47-16.93V137H421.55V122.37h10.32V102h21.06v20.37H473v14.72H452.93v30.56q0,8.53,6.74,8.53A23.88,23.88,0,0,0,470,173.43Z"></path>
                                                                <path class="home-ventana" d="M523.45,193.11v-8.67a23.73,23.73,0,0,1-9.64,7.15,34.84,34.84,0,0,1-13.62,2.48q-11.7,0-18.58-6.4T474.73,171q0-10.45,7.36-16.31t20.85-6h20.37v-1.37q0-5.92-3.92-9.15t-11.5-3.24q-10.32,0-22,6.47l-6.61-14.59a89,89,0,0,1,16.51-6.47,65.61,65.61,0,0,1,16.93-2.06q14.87,0,23,7t8.33,19.54l.14,48.31Zm-5.92-17.34a12.36,12.36,0,0,0,5.78-8v-6.61H506.66q-6.2,0-9.16,2c-2,1.33-3,3.47-3,6.4a8.39,8.39,0,0,0,3.1,6.82q3.11,2.54,8.47,2.54A20.32,20.32,0,0,0,517.53,175.77Z"></path>
                                                                <path class="home-ventana" d="M621.93,125.94q7.37,7.73,7.36,20.65v46.52H608.1V152.78q0-7-3.92-11.08t-10.67-4.06q-7.85.15-12.38,5.44t-4.55,13.56v36.47H555.39V119.06h21.19V132q7.71-13.48,25.6-13.76Q614.57,118.24,621.93,125.94Z"></path>
                                                                <path class="home-ventana" d="M683.74,193.11v-8.67a23.76,23.76,0,0,1-9.63,7.15,34.92,34.92,0,0,1-13.63,2.48q-11.7,0-18.58-6.4T635,171q0-10.45,7.36-16.31t20.85-6H683.6v-1.37q0-5.92-3.92-9.15c-2.61-2.16-6.45-3.24-11.49-3.24q-10.32,0-22,6.47l-6.61-14.59a89.12,89.12,0,0,1,16.52-6.47A65.56,65.56,0,0,1,673,118.24q14.85,0,23,7t8.32,19.54l.14,48.31Zm-5.92-17.34a12.36,12.36,0,0,0,5.78-8v-6.61H667q-6.19,0-9.15,2c-2,1.33-3,3.47-3,6.4a8.37,8.37,0,0,0,3.1,6.82q3.09,2.54,8.46,2.54A20.32,20.32,0,0,0,677.82,175.77Z"></path>
                                                                <path class="home-ventana" d="M29.56,54c.05.54.1,1.09.18,1.63,0,.29.08.58.13.86.08.52.17,1,.27,1.54l.18.84c.12.55.27,1.1.42,1.65.06.22.11.45.18.68.23.77.48,1.53.75,2.29l.1.24c.25.67.52,1.35.81,2l.34.73c.23.5.47,1,.73,1.51l.42.8c.26.48.54,1,.82,1.43l.45.77q.49.78,1,1.56l.38.57c.49.7,1,1.39,1.54,2.08l.33.4c.44.55.89,1.09,1.36,1.63l.62.69c.4.44.8.88,1.22,1.31l.72.73c.42.42.85.83,1.28,1.24l.75.7.32.27C51.36,52.62,66.81,24.6,90.14,0A92.35,92.35,0,0,0,55.93,11.3a87.12,87.12,0,0,0-10.67,7.79c-9.58,8.57-15.13,19-15.79,29.59,0,.71-.06,1.41-.06,2.12s0,1.6.08,2.39C29.51,53.45,29.54,53.7,29.56,54Z"></path>
                                                                <path class="home-ventana" d="M64.57,196.14c-.91-1.5-1.78-3-2.63-4.5l-.44-.79c-.79-1.42-1.57-2.85-2.32-4.29-.09-.18-.19-.36-.29-.54q-1.19-2.29-2.29-4.62c-.16-.33-.31-.67-.47-1-.73-1.55-1.44-3.1-2.11-4.66l-.24-.55Q52.83,173,52,170.8c-.11-.29-.23-.58-.34-.86q-.9-2.34-1.73-4.68c-.12-.34-.23-.67-.35-1-.55-1.61-1.09-3.21-1.59-4.82l0-.06c-.5-1.62-1-3.25-1.41-4.88-.1-.34-.19-.68-.28-1-.42-1.59-.82-3.18-1.2-4.78-.06-.29-.13-.58-.19-.87-.35-1.51-.67-3-1-4.54l-.12-.6c-.31-1.62-.59-3.25-.84-4.88-.06-.35-.11-.71-.17-1.06-.24-1.64-.46-3.27-.65-4.91,0-.2,0-.39-.07-.59-.17-1.54-.31-3.07-.44-4.61,0-.3,0-.59-.07-.89-.12-1.63-.21-3.26-.28-4.9,0-.34,0-.68,0-1,0-1.68-.09-3.37-.09-5.06,0-1.05,0-2.07,0-3.08,0-.32,0-.64,0-1,0-.68,0-1.37.06-2,0-.37,0-.73,0-1.09,0-.62.06-1.24.1-1.85l.06-1.08c0-.63.09-1.24.14-1.86,0-.32,0-.64.08-1,.07-.79.15-1.56.24-2.33,0-.13,0-.26,0-.39q.15-1.32.33-2.61c0-.29.09-.57.13-.86s.12-.85.19-1.26l-.11-.09c-.36-.26-.69-.54-1-.81-.62-.49-1.25-1-1.85-1.48l-1.12-1c-.54-.47-1.08-.94-1.6-1.41l-1.11-1.07c-.48-.47-1-.94-1.43-1.41s-.72-.76-1.07-1.14-.88-1-1.3-1.43l-1-1.2c-.4-.48-.8-1-1.18-1.45s-.63-.83-.94-1.24-.72-1-1.07-1.49l-.86-1.27q-.5-.76-1-1.53c-.27-.43-.53-.86-.78-1.3s-.58-1-.86-1.56-.46-.88-.68-1.33-.52-1.06-.76-1.6-.41-.89-.6-1.34-.44-1.09-.65-1.64-.34-.9-.5-1.35-.37-1.13-.54-1.69-.29-.89-.41-1.34-.3-1.18-.44-1.77c-.1-.43-.21-.87-.31-1.3-.12-.62-.22-1.25-.33-1.87-.07-.41-.15-.82-.2-1.24-.1-.69-.16-1.38-.23-2.08,0-.35-.08-.7-.1-1-.07-1.05-.11-2.1-.11-3.15,0-.81,0-1.62.07-2.43,0-.23,0-.46.05-.69s0-.57.05-.85C6.46,64.05,0,83.13,0,102.64c0,38.65,25.57,75.23,68,99-1-1.51-2-3-2.88-4.57C64.93,196.74,64.75,196.44,64.57,196.14Z"></path>
                                                                <path class="home-ventana" d="M103.93,113.47c-18.78,0-36.62-4.38-51.16-12.45,0,.24-.05.48-.07.72-.07.68-.13,1.36-.19,2.05,0,.37-.06.75-.08,1.12,0,.67-.09,1.35-.13,2l-.06,1.15c0,.74-.06,1.49-.08,2.25l0,1c0,1.1,0,2.23,0,3.38,0,1.69,0,3.38.1,5.07l0,.8q.11,2.41.3,4.83c0,.31,0,.62.07.93.14,1.62.3,3.24.5,4.86,0,.2,0,.41.08.62.2,1.58.42,3.17.68,4.75,0,.15,0,.31.07.46.26,1.63.57,3.24.89,4.86l.18.9c.33,1.58.68,3.15,1.07,4.72l.21.88c.41,1.61.83,3.23,1.3,4.84l.09.3c.45,1.56.94,3.12,1.44,4.68l.24.73q.78,2.34,1.64,4.65l.34.93c.59,1.54,1.19,3.07,1.82,4.6.1.25.21.49.31.73.65,1.53,1.31,3,2,4.56l.13.3c.72,1.56,1.48,3.11,2.25,4.65l.42.84q1.14,2.24,2.37,4.45c.15.29.32.58.48.86q1.26,2.26,2.59,4.51l.28.45q1.32,2.17,2.71,4.33l.36.56q1.44,2.21,3,4.38l.29.43c1.41-19.9,7.79-39.12,19-57.26a159.13,159.13,0,0,1,25.75-31.39A116.68,116.68,0,0,1,103.93,113.47Z"></path>
                                                            </svg>
                                                        </span>


                                    </h3>

                                    <div class="section-our-works-gallery-project-item-content-desc desc nunitoregular">
                                        <p>An invoice management tool that makes it easy and intuitive for companies to manage their invoices</p>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>


                    <div class="pure-u-1 pure-u-md-1-3 out in-progress">

                        <a class="section-our-works-gallery-project-item project-item ease-in-out block" data-image="https://www.planeeet.com/wp-content/uploads/2018/08/Clasp-WMS-Cover-x1.png" style="height: 373.333px;">

                            <div class="block project-link">

                                <div class="project-item-image" style="background-image: -webkit-image-set(url(&quot;https://www.planeeet.com/wp-content/uploads/2018/08/Clasp-WMS-Cover-x1.png&quot;) 1x, url(&quot;https://www.planeeet.com/wp-content/uploads/2018/08/Clasp-WMS-Cover-x2.png&quot;) 2x, url(&quot;https://www.planeeet.com/wp-content/uploads/2018/08/Clasp-WMS-Cover-x3.png&quot;) 3x); background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; width: 100%; height: 373.333px;"></div>

                                <div class="project-item-content color-white align-center">

                                    <h3 class="section-our-works-gallery-project-item-content-title cabinbold project-item-content-title">


                                        <span>Clasp WMS</span>


                                    </h3>

                                    <div class="section-our-works-gallery-project-item-content-desc desc nunitoregular">
                                        <p>Clasp is a WMS tool responsible for automating the stock management of a warehouse</p>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>


                    <div class="pure-u-1 pure-u-md-1-3 out in-progress">

                        <a class="section-our-works-gallery-project-item project-item ease-in-out block" data-image="https://www.planeeet.com/wp-content/uploads/2018/08/XEL-ERP-Cover-x1.png" style="height: 373.333px;">

                            <div class="block project-link">

                                <div class="project-item-image" style="background-image: -webkit-image-set(url(&quot;https://www.planeeet.com/wp-content/uploads/2018/08/XEL-ERP-Cover-x1.png&quot;) 1x, url(&quot;https://www.planeeet.com/wp-content/uploads/2018/08/XEL-ERP-Cover-x2.png&quot;) 2x, url(&quot;https://www.planeeet.com/wp-content/uploads/2018/08/XEL-ERP-Cover-x3.png&quot;) 3x); background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; width: 100%; height: 373.333px;"></div>

                                <div class="project-item-content color-white align-center">

                                    <h3 class="section-our-works-gallery-project-item-content-title cabinbold project-item-content-title">


                                        <span>XEL ERP</span>


                                    </h3>

                                    <div class="section-our-works-gallery-project-item-content-desc desc nunitoregular">
                                        <p>An enterprise resource planning tool, that enables management of core business processes of a company</p>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>


                    <div id="our-works-gallery-highlight" class="our-works-gallery-highlight" style="visibility: hidden; opacity: 0;"></div>

                </div>
            </div>
        </div>
    </div>





























</section>

<footer>

    <nav id="footer-nav" class="footer-nav">
        <a href="/" class="footer-menu-item active-btn">Projects</a>
        <a href="/daily-ui" class="footer-menu-item inactive-btn">Daily UI</a>
        <a href="/about-me" class="footer-menu-item inactive-btn">About Me</a>
        <a class="footer-menu-item inactive-btn">Cookies?</a>
    </nav>

    <div id="copyright" class="copyright"> ildiesign 2019</div>

    <div id="social-media-container" class="social-media-container">

        <a href="https://twitter.com/Ildiesign" id="twitter-btn" class="social-button" target="_blank"></a>
        <a href="https://www.behance.net/ildiesign" id="behance-social-btn" class="social-button" target="_blank"></a>
        <a href="https://www.linkedin.com/in/ildiko-ignacz/" id="linked-in-btn" class="social-button" target="_blank"></a>
        <a href="https://github.com/ildiko-ignacz" id="github-btn" class="social-button" target="_blank"></a>
        <a href="https://dribbble.com/ildiesign" id="dribbble-btn" class="social-button" target="_blank"></a>
        <a href="https://www.facebook.com/ildiesign/" id="facebook-btn" class="social-button" target="_blank"></a>
        <a href="https://www.instagram.com/ildiesign/" id="instagram-btn" class="social-button" target="_blank"></a>

    </div>

</footer>


<script src="../public/js/gallery.js"></script>