


<nav id="main-nav">
    <a href="/">
        <img id="ildiesign-logo" class="ildiesign-nav-logo" src="../public/images/ildiesign-logo.svg" alt="ildiesign home">
    </a>

    <div class="menu-item-container">
        <a class="menu-item" href="/">Projects</a>
        <a class="menu-item" href="/daily-ui">Daily UI</a>
        <a class="menu-item" href="/">About Me</a>
    </div>

    <div id="email-btn-container" class="email-button"></div>

</nav>

<div id="main-container">

    <div id="controller-container">
        <a href="ahead">
            <div id="right-controller" class="next controller"></div>
        </a>

        <a href="borneo">
            <div id="left-controller" class="previous controller"></div>
        </a>
    </div>
    <div class="ahead-presentation"></div>

</div>

<footer>

    <nav id="footer-nav" class="footer-nav">
        <a href="/" class="footer-menu-item">Projects</a>
        <a href="/daily-ui" class="footer-menu-item">Daily UI</a>
        <a href="/about-me" class="footer-menu-item">About Me</a>
        <a class="footer-menu-item">Cookies?</a>
    </nav>

    <div id="copyright" class="copyright">© ildiesign 2019</div>

    <div id="social-media-container" class="social-media-container">

        <a href="https://twitter.com/Ildiesign" id="twitter-btn" class="social-button" target="_blank"></a>
        <a href="https://www.behance.net/ildiesign" id="behance-social-btn" class="social-button" target="_blank"></a>
        <a href="https://www.linkedin.com/in/ildiko-ignacz/" id="linked-in-btn" class="social-button" target="_blank"></a>
        <a href="https://github.com/ildiko-ignacz" id="github-btn" class="social-button" target="_blank"></a>
        <a href="https://dribbble.com/ildiesign" id="dribbble-btn" class="social-button" target="_blank"></a>
        <a href="https://www.facebook.com/ildiesign/" id="facebook-btn" class="social-button" target="_blank"></a>
        <a href="https://www.instagram.com/ildiesign/" id="instagram-btn" class="social-button" target="_blank"></a>

    </div>

</footer>