


{{> navigation }}


<div id="main-container">

    <a  href="https://www.producthunt.com/posts/scrumbs?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-scrumbs" target="_blank"><img class="product-hunt-btn" src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=164273&theme=light" alt="Scrumbs - Tracking your daily scrum meetings has never been easier | Product Hunt Embed" style="width: 250px; height: 54px;" width="250px" height="54px" /></a>

    <div id="controller-container">
        <a href="ahead">
            <div id="right-controller" class="next controller"></div>
        </a>

        <a href="scrumbs">
            <div id="left-controller" class="previous controller"></div>
        </a>

    </div>
    <div class="scrumbs-landing-presentation"></div>

</div>

{{> footer }}
