


{{> navigation }}


<div id="main-container" class="themes-container">

    <header class="themes-header">
        <img class="themesberg-logo" src="../public/images/themesberg-logo.svg">
        <h1 class="main-title daily-ui-title">Themesberg themes</h1>
        <p class="description">Since late 2019  I partnered with Themesberg. By purchasing one of the amazing themes or UI Kits you are supporting my work.</p>
    </header>

    <section class="gallery-container">


        <a href="https://premiumbootstrapthemes.sjv.io/yAGzG" target="_blank"><div class="theme-preview-wrapper">

            <div class="theme-preview">

                <img class="theme-preview-img" src="../public/images/leaf.png">
            </div>

            <div class="theme-details">

                <div class="details-header">

                    <h1 class="theme-title">Leaf - Non Profit Environmental</h1>

                    <h2 class="theme-price">$49</h2>

                </div>

                <p class="theme-info">Clean Environmental Bootstrap 4 Theme</p>

            </div>

        </div></a>



       <a href="https://premiumbootstrapthemes.sjv.io/40633" target="_blank"> <div class="theme-preview-wrapper ">

            <div class="theme-preview">

                <img class="theme-preview-img" src="../public/images/spaces.png">
            </div>

            <div class="theme-details">

                <div class="details-header">

                    <h1 class="theme-title">Spaces - Coworking Real Estate</h1>

                    <h2 class="theme-price">$49</h2>

                </div>

                <p class="theme-info">Corporate Coworking Bootstrap 4 Theme</p>

            </div>

        </div></a>

    <a href="https://premiumbootstrapthemes.sjv.io/9DvmE" target="_blank">    <div class="theme-preview-wrapper">

            <div class="theme-preview">

                <img class="theme-preview-img" src="../public/images/pixel-pro.png">
            </div>

            <div class="theme-details">

                <div class="details-header">

                    <h1 class="theme-title">Pixel Pro - Bootstrap 4 UI KIT</h1>

                    <h2 class="theme-price">$59</h2>

                </div>

                <p class="theme-info">Premium Bootstrap 4 UI Kit • Sass & Gulp</p>

            </div>

        </div></a>

       <a href="https://premiumbootstrapthemes.sjv.io/LBej0" target="_blank"> <div class="theme-preview-wrapper ">

            <div class="theme-preview">

                <img class="theme-preview-img" src="../public/images/windows-98.png">
            </div>

            <div class="theme-details">

                <div class="details-header">

                    <h1 class="theme-title">Windows 95 UI Kit</h1>

                    <h2 class="theme-price">Free</h2>

                </div>

                <p class="theme-info">Retro and nostalgic Windows 95 UI Kit</p>

            </div>

        </div></a>

 <a href="https://premiumbootstrapthemes.sjv.io/PE1eR" target="_blank">       <div class="theme-preview-wrapper">

            <div class="theme-preview">

                <img class="theme-preview-img" src="../public/images/pixel-free.png">
            </div>

            <div class="theme-details">

                <div class="details-header">

                    <h1 class="theme-title">Pixel Lite - Free Bootstrap 4 UI KIT</h1>

                    <h2 class="theme-price">Free</h2>

                </div>

                <p class="theme-info">Free and clean Bootstrap 4 UI Kit</p>

            </div>

        </div>
</>




    </section>

</div>

{{> footer }}