
#main-container {
    position: relative;
}

#controller-container {
    position: absolute;
    height: 100vh;
}

.controller {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: black;
    opacity: 0.2;
    position: absolute;
    top: 40%;
}

.next {
    right: -70px;
    position: fixed;
    transition: right ease-in-out 0.2s, opacity ease-in-out 0.2s;
    opacity: 0.2;
}

.next:hover {
    right: -50px;
    opacity: 0.4;
    background-image: url("../public/images/arrow-right.svg");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: 25px;
    background-position-y: 38px;
}


.previous {
    left: -70px;
    position: fixed;
    transition: left ease-in-out 0.2s, opacity ease-in-out 0.2s;

}

.previous:hover {
    left: -50px;
    opacity: 0.4;
    background-image: url("../public/images/arrow-left.svg");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: 60px;
    background-position-y: 38px;
}

.arrow-left {
    width: 15px;
    margin-left: 20px;
    margin-top: 38px;
}


.ahead-presentation {
    background: url("../public/project-images/Ahead-1366px-2880px.png") no-repeat top center;
    width: 100%;
    height: 7820px;
}



@media only screen and (max-width: 1230px) {
    .ahead-presentation {
        background: url("../public/project-images/Ahead-1024px-1230px.png") no-repeat top center;
        height: 6730px;
    }
}

@media only screen and (max-width: 860px) {
    .ahead-presentation {
        background: url("../public/project-images/Ahead - 860px.png") no-repeat top center;
        height: 6178px;
    }
}

@media only screen and (max-width: 519px) {
    .ahead-presentation {
        background: url("../public/project-images/Ahead - 519px.png") no-repeat top center;
        height: 5344px;
    }
}