/*Content*/
    /*1 Main website */
    /*2 Home page*/
    /*3 Daily UI*/





/*1 MAIN WEBSITE CSS---------------------------------------------------------------------*/


* {font-family: 'Muli', sans-serif;
    color: #242E4C;
}

nav {
    width: 100%;
    text-align: center;
    background-color: white;
    height: 76px;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(36,46,76,0.1);
    -moz-box-shadow: 0px 2px 10px 0px rgba(36,46,76,0.1);
    box-shadow: 0px 2px 10px 0px rgba(36,46,76,0.1);
    position: relative;
    z-index: 2;
}

.menu-item-container {
    display: inline-block;
}

.ildiesign-nav-logo {
    float: left;
    margin-left: 30px;
    margin-top: 27px;
}

.menu-item {
    line-height: 76px;
    opacity: 0.5;
    margin: 0 20px 0 20px;
    transition: opacity 0.2s ease-in-out;
    font-weight: 700;
    font-size: 14px;
}

.menu-item:hover {
    opacity: 1;
}

.menu-item:visited {
    opacity: 1;
}


.email-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: #EEEEEE solid 1px;
    float: right;
    background: url("../public/images/email-icon.svg") white center no-repeat;
    margin-right: 30px;
    margin-top: 18px;
    cursor: pointer;
}

footer {
    height: 50px;
    background-color: #EEEEEE;
}

/*2 HOME PAGE*/

#ildiesign-gallery {
    background-color: #F9F9F9;
    min-height: 600px;
    height: calc(100vh - 126px);

}

/*3 DAILY UI-----------------------------------------------------------------------------*/

#daily-ui-container {
    width: 100%;
    background-color: #F9F9F9;
    height: auto;
    clear: both;
    position: relative;
    /*z-index: -5;*/
}

.content-container {
    /*background-color: #e2f9e7;*/
    max-width: 1070px;
    text-align: center;
    margin: auto;
}

.daily-ui-count {
    position: absolute;
    width: 95px;
    height: 100px;
    background-color: white;
    right: 30px;
    top: 0;
    border-radius: 0 0 5px 5px;
}

.count-title {
    opacity: 0.5;
    margin-top: 25px;
    margin-bottom: 5px;
}

.count-number{
    font-size: 30px;
    font-weight: 900;
}


.daily-ui-header {
    padding-top: 70px;
    padding-bottom: 60px;
}

.main-title {
    font-size: 24px;
}

.daily-ui-title {
    margin-bottom: 25px;
}

.daily-description {
    max-width: 600px;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin: 0 auto 30px auto;
    padding: 0 30px;
}

.blue-button {
    padding: 15px 0;
    background-color: #235BF6;
    border-radius: 30px;
    color: white;
    display: block;
    width: 215px;
    margin: auto;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    cursor: pointer;
}

.blue-button:hover {
    background: #1848dc;
    box-shadow: 0 5px 10px 0 rgba(35,91,246,0.20);
}

.white-overlay {
    width: 100%;
    height: 500px;
    background-image: linear-gradient(0deg, #FFFFFF 0%, rgba(255,255,255,0.00) 100%);
    position: absolute;
    bottom: 0;
}

.daily-thumbnail {
    margin: 10px;
}


@media only screen and (max-width: 450px) {
    nav {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .ildiesign-nav-logo {
        display: block;
        float: none;
        margin: 0 auto;
    }

    .menu-item-container {
        display: block;
    }
}


@media only screen and (max-width: 510px) {
    #email-btn-container {
        position: fixed;
        bottom: 30px;
        right: 30px;
        margin: 0;
        z-index: 1;
    }

    .email-button {
        width: 50px;
        height: 50px;
        border-radius: 40px;
        box-shadow: 0px 2px 10px 0px rgba(36,46,76,0.1);
    }

    .daily-ui-count {
        right: 0;
        left: 0;
        margin: auto;
    }

    .daily-ui-header {
        padding-top: 130px;
    }
}

@media only screen and (max-width: 704px){
    .notifications-thumb, .kit-thumb, .statistics-thumb, .plantcare-thumb {
        display: none;
    }
}

@media only screen and (max-width: 1058px){
    .notifications-thumb, .kit-thumb {
        display: none;
    }
}